.word-info {
  position: relative;

  height: 100vh;
  display: flex;
  flex-direction: column;

  padding: toRem(16) toRem(16) toRem(42);

  @include for-desktop-only {
    min-width: 480px;
    max-width: 30%;
  }

  &__top-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 toRem(8);
  }

  &__close {
    font-size: toRem(18);

    color: $color-primary-4;
    font-weight: 500;

    cursor: pointer;

    transition: all 0.12s ease-in-out;

    &:hover {
      transform: scale(1.03);
    }
  }

  &__word-display {
    background-color: $color-primary-2;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    gap: toRem(12);

    height: 180px;
    margin: toRem(16) 0 0;
    padding: toRem(8) toRem(24);

    color: $color-primary-4;
    font-weight: 700;
    font-size: toRem(24);
    text-align: center;

    border: $border-default;
    border-radius: 15px;
  }

  &__audio-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: toRem(8);

    width: 100%;
    margin: toRem(16) 0;
  }

  &__section-title {
    color: $color-primary-4;
    font-size: toRem(24);
    font-weight: 700;
  }

  &__meaning {
    padding: toRem(16) 0 toRem(56);
    overflow-y: hidden;
  }

  &__part-of-speech {
    font-weight: 700;
    margin-bottom: toRem(8);
  }

  &__definition-list {
    height: 100%;
    overflow-y: auto;
  }

  &__definition {
    margin: toRem(8) toRem(12);
    line-height: toRem(18);

    display: list-item;
    list-style-type: "- ";
  }

  &__nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    padding: toRem(16);
    margin: toRem(16) 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: toRem(16);

    height: toRem(36);

    @include for-desktop-only {
      position: relative;
    }
  }

  &__nav-item {
    width: 100%;

    user-select: none;
    cursor: pointer;

    &--disabled {
      color: darken($color-secondary-0, 20);
      background-color: darkgrey;
      border: none;

      pointer-events: none;

      cursor: not-allowed;
    }
  }
}
