.word-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: row;

  width: 100%;
  align-items: center;

  padding: toRem(8) 0;

  &__word {
    text-align: center;
    padding: toRem(8) toRem(12);

    border: 1px solid black;

    cursor: pointer;

    &--selected {
      background-color: #bbb;
    }
  }
}
