$color-font-main: #1e1f23;

$color-primary-0: #80aa98; // Main Primary color */
$color-primary-1: #ffffff;
$color-primary-2: #cad9d2;
$color-primary-3: #418568;
$color-primary-4: #095f3a;

$color-secondary-0: #bebdbe; // Main secondary color */
$color-secondary-1: #eeeeee;

$font-main: "Noto Sans", sans-serif;

$border-default: 1px solid $color-primary-0;
